<%= form_for(member, remote: true, :url => { :action => "update_member" }) do |f| %>
	<fieldset>
		<legend id="nameLegend">
			Update <%= member.name %>
		</legend>
		<div class="row">
			<div class="small-3 columns">
				<%= f.label :name, "Name" %>
				<%= f.text_field :name, :autocomplete => "off" %>
			</div>
		</div>
		<%= f.hidden_field :member_id, :value => member.id %>
	 	<div class="row">
			<div class="small-10 columns"></div>
			<div class="small-2 columns">
				<button class="small" type="submit">Submit</button>
			</div>
		</div>
	</fieldset>
<% end %>
